@import "../../../styles/mixins.scss";

.card {
  max-width: 340px;
  width: 100%;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 4px 4px 6px rgba(207, 207, 207, 0.5); //по х, по у, размытость и растяжение по 15px, цвет
  @include xs-mobile {
    margin: 10px 0;
    @include landscape {
      max-width: none;
      flex-basis: 85%;
    }
  }
  @include mobile {
    @include landscape {
      max-width: none;
      margin: 10px;
      flex-basis: 45%;
    }
  }
  @include tablet {
    margin: 12.5px 0;
  }
  &__content {
    --mdc-ripple-fg-size: 300px;
    --mdc-ripple-fg-scale: 2.34115;
    --mdc-ripple-fg-translate-start: 320px, 401px;
    --mdc-ripple-fg-translate-end: 60px, 60px;
  }
  &__image {
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include mobile {
      @include landscape {
        height: 180px;
      }
    }
  }
  &__text {
    padding: 15px 25px;
  }
  &__title {
    font-size: 20px;
    font-weight: 500;
    @include mobile {
      @include landscape {
        font-size: 19px;
      }
    }
  }
  &__price {
    font-size: 17px;
    margin-top: 10px;
    &:before {
      content: "$";
      margin-right: 5px;
    }
    @include mobile {
      @include landscape {
        font-size: 16px;
      }
    }
  }
  &__description {
    margin-top: 15px;
    text-align: justify;
    @include mobile {
      @include landscape {
        font-size: 13px;
      }
    }
  }
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
  }
}

.action {
  &__btn {
    border: none;
  }
  &__add-to-wishlist {
    color: rgb(131, 0, 238);
    &_hidden {
      display: none;
    }
  }
}
