@import "../../../styles/variables.scss";

.sidebar {
  visibility: hidden;
  width: 0;
  height: 100vh;
  border-right: 2px solid $main-color;
  transition: 0.5s;
  &_opened {
    visibility: visible;
    width: 210px;
    padding: 15px 51px;
    .sidebar__items {
      visibility: visible;
      opacity: 1;
      transition-delay: 0.1s;
    }
  }
  &__toggle {
    visibility: visible;
    position: absolute;
    transform: translateY(-100%);
    top: -8px;
    left: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 48px;
    width: 48px;
    padding: 13px;
    cursor: pointer;
  }
  &__items {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
  }
  &__link {
    color: $font-color;
    text-decoration: none;
    min-width: 100px;
    margin: 15px 0;
    &:hover {
      color: $hover-color;
    }
  }
}

.toggle__row {
  height: 2px;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 2px;
}
