$font-family: Roboto;
$font-size-base: 14px;
$font-color: rgb(45, 35, 52);
$hover-color: rgb(105, 78, 129);
$main-color: rgb(152, 100, 168);
// $main-color: rgb(98, 0, 238);
$header-footer-height: 64px;
